.main_heading{
    position: absolute;
    top: 12rem;
    left: 8rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 3.5rem;
}

.below_heading{
    position: absolute;
    top: 25rem;
    left: 8rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
}

.change_colour{
    position: absolute;
    left: 8rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    top: 35rem;
    background-color: yellow;
    padding: 1rem;
    border-radius: 2rem;
}

/* .top_single_div{
    position: absolute;
    border: 1px solid black;
    width: 25rem;
    height: 13rem;
    left: 58rem;
    top: 10rem;
    transform: rotate(150deg);
} */

.main_inside_container{
    position: absolute;
    left: 60rem;
    top: 7rem;
    /* border: 1px solid black; */
    height: 13rem;
    width: 28rem;
}

.top_single_div{
    position: absolute;
    width: 13.5rem;
    height: 16rem;
    border: 1px solid black;
    top: 27rem;
    left: 60rem;
    border-radius: 2.5rem;
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top_single_div p{
    position: absolute;
    background-color: rgb(207, 207, 207);
    left: 2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.top_single_div span{
    position: relative;
    left: .7rem;
    top: -3rem;
    font-size: 2rem;
    background-color: rgb(207, 207, 207);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* font-weight: bold; */
}

.bottom_left_div{
    position: absolute;
    width: 13.5rem;
    height: 16rem;
    border: 1px solid black;
    top: 27rem;
    left: 74.5rem;
    border-radius: 2.5rem;
    background-color: rgb(158, 233, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_left_div p{
    position: absolute;
    background-color: rgb(158, 233, 158);
    left: 2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bottom_left_div span{
    position: relative;
    left: .8rem;
    top: -3rem;
    font-size: 2rem;
    background-color: rgb(158, 233, 158);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* font-weight: bold; */
}

.main_inside_container img{
    width: 28rem;
    border-radius: 2.5rem;
}

.box{
    position: absolute;
    width: 25rem;
    height: 23rem;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(245, 243, 243);
    left: 37%;
    top: 13rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}

.box h1{
    position: absolute;
    top: 2rem;
    font-family: cursive;
    font-size: 2rem;
    background-color: rgb(245, 243, 243) ;
}

#input1{
    position: absolute;
    top: 6rem;
    width: 81%;
    left: 5%;
    height: 3rem;
    font-family: cursive;
    font-size: large;
    border-radius: 1rem;
    border: none;
    background-color: white;
    padding-left: 2rem;
}

#input2{
    position: absolute;
    top: 10rem;
    width: 81%;
    left: 5%;
    height: 3rem;
    font-family: cursive;
    font-size: large;
    border-radius: 1rem;
    border: none;
    background-color: white;
    padding-left: 2rem;
}

.box select{
    position: absolute;
    top: 15rem;
    left: 1.5rem;
    width: 14rem;
    height: 2.5rem;
    background-color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: large;
    padding-left: 1rem;
}

.box button{
    position: absolute;
    top: 15rem;
    width: 7rem;
    height: 2.5rem;
    font-size: large;
    border: none;
    background-color: rgb(103, 103, 235);
    left: 16.5rem;
    border-radius: 0.25rem;
    color: white;
}